#container {
    width: 90%;
    margin: auto;
}

#container > div {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.chart {
    aspect-ratio: 1.7;
    width: 95%;
    min-height: 400px;
    max-width: 900px;
    margin: auto;
}

.chartFooter {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

.v8chart {
    aspect-ratio: 1.4;
    width: 95%;
    min-height: 800px;
    max-width: 1000px;
    margin: auto;
}



